!!! 5
html(lang="en")
  head
    title Turing Test
    script(src="/require/require.js")
    script(src="/require/app.js")
  body
    #results Loading...
    #animate(style="position: absolute") Animate
