!!! 5
html
  link(rel="stylesheet", href="/turing-test/stylesheets/screen.css")
  script(src="/turing.js")
  script(src="/turing-test.js")
  script(src="/ajax-test.js")
  title Ajax Tests
  body
    h1 Ajax Tests
    #results
